<section ng-controller="ToysController" ng-init="find()">
  <h3 class="page-title">Toys</h3>
  <div class="row">
      <div class="col-md-12">
          <!-- BEGIN EXAMPLE TABLE PORTLET-->
          <div class="portlet light ">
              <div class="portlet-title">
                  <div class="caption font-dark">
                      <i class="icon-rocket font-dark"></i>
                      <span class="caption-subject bold uppercase"> Toys</span>
                  </div>
                  <!--
                  <div class="actions">
                      <div class="btn-group btn-group-devided" data-toggle="buttons">
                          <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                              <input type="radio" name="options" class="toggle" id="option1">Actions</label>
                          <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                              <input type="radio" name="options" class="toggle" id="option2">Settings</label>
                      </div>
                  </div>
                  -->
              </div>
              <div class="portlet-body">
                  <div class="table-toolbar">
                      <div class="row">
                          <div class="col-md-6">
                              <div class="btn-group">
                                  <button ui-sref="admin.toys.create()" class="btn sbold green"> <i class="fa fa-plus"></i> Add New Toy 
                                      
                                  </button>
                              </div>
                          </div>
                          <!--
                          <div class="col-md-6">
                              <div class="btn-group pull-right">
                                  <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                                      <i class="fa fa-angle-down"></i>
                                  </button>
                                  <ul class="dropdown-menu pull-right">
                                      <li>
                                          <a href="javascript:;">
                                              <i class="fa fa-print"></i> Print </a>
                                      </li>
                                      <li>
                                          <a href="javascript:;">
                                              <i class="fa fa-file-pdf-o"></i> Save as PDF </a>
                                      </li>
                                      <li>
                                          <a href="javascript:;">
                                              <i class="fa fa-file-excel-o"></i> Export to Excel </a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          -->
                      </div>
                  </div>
                  <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                      <thead>
                          <tr>
                              <th> Toy </th>
                              <th> Manufacturer </th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr ui-sref="admin.toys.view({toySlug: toy.slug})" ng-class-odd="odd" ng-class-even="even" ng-repeat="toy in toys" class="clickable-row">
                            <td>
                              <span ng-bind="toy.title"></span>
                            </td>
                            <td>
                              <span ng-bind="toy.manufacturer.name"></span>
                            </td>
                        </tr>
                      </tbody>
                  </table>
              </div>
          </div>
          <!-- END EXAMPLE TABLE PORTLET-->
      </div>
  </div>
  <div class="list-group">
    
  </div>
  <div class="alert alert-warning text-center" ng-if="toys.$resolved && !toys.length">
    No toys yet, why don't you <a ui-sref="toys.create">create one</a>?
  </div>
</section>
