<div ng-controller="HeaderController">
  <!-- Logo/Social Media Container -->
  <div class="logo-container">
    <div class="logo">
      <a href="index.html" title="Kids Life"><img src="/modules/core/client/img/template/header/logo.png" class="img-responsive" alt="Kids Life" title="Kids Life"></a>
      </div>
  </div>
  <!-- End Logo/Social Container -->
  <!-- Nav Container -->
  <div class="nav-background"; sticky>
  <div id="menu-container";>
      <nav id="main-menu">
        <ul id="menu-main-menu" class="menu" ng-if="menu.shouldRender(authentication.user);">
          <li class="red"> <a href="index.html"> Home </a></li>
          <li class="mustard"> <a href="about.html"> About us </a> </li>
          <li class="green"> <a href="toys.html"> Toys </a> </li>
          <li class="yellow"> <a href="articles.html"> Articles </a> </li>
          <li class="last blue"><a href="portfolio-four-column.html" title="">Portfolio</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right user-bar menu" ng-hide="authentication.user">
          <li class="lavender" ui-sref-active="active">
          <a ui-sref="authentication.signup">Sign Up</a>
          </li>
          <li class="divider-vertical"></li>
          <li class="purple last" ui-sref-active="active">
          <a ui-sref="authentication.signin">Sign In</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right user-bar menu" ng-show="authentication.user">
          <li class="dropdown lavender" dropdown>
            <a dropdown-toggle role="button">
              <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
              <span ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li ui-sref-active="active">
                <a ui-sref="settings.profile">Edit Profile</a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="settings.picture">Change Profile Picture</a>
              </li>
              <li ui-sref-active="active" ng-show="authentication.user.provider === 'local'">
                <a ui-sref="settings.password">Change Password</a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="settings.accounts">Manage Social Accounts</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="/api/auth/signout" target="_self">Signout</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    </div>
  </div>
  <!-- End Nav Container -->
</div>
