<section ng-controller="HomeController">
  <div class="col-sm-3">
    <div class="toy-picture-main toy-picture">
    <img src="/modules/core/client/img/template_default/contact_form_bg.png" class="img-responsive img-thumbnail" alt="Cinque Terre">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="toyname">
      <h1>3D Sneaky Puzzle® Singin' Sea Creatures™</h1>
      <h2>Patch Products</h2>
    </div>
    <div class="col-sm-8 toydetails">
      <p>age:7</p>
      <p>MSRP:$100</p>
      <p>Model: 2533</p>
    </div>

  </div>
  <div class="col-sm-3 scorecard">
    <div class="overall">
      <div class="title">
        <p>Overall</p>
      </div>
      <div class="rating">
        <p>7</p>

        <a href="#demo" data-toggle="collapse">Full Ratings <span class="glyphicon glyphicon-chevron-down"></span></a>
      </div>
    </div>
    <div class="award">
      <img src="/modules/toys/client/img/awards/gold_150x150.png" class="img-responsive">
    </div>
    <div class="fullratings">
      <div id="demo" class="collapse">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
    </div>
    <div class="stickers">
      <p>stickers</p>
    </div>
  </div>
  <div class="container">
    <p>test</p>
  </div>
</section>
