<section ng-controller="ToysController" ng-init="editOne()">
  <div class="page-header">
    <h1>Edit Toy</h1>
  </div>
  <div class="col-md-12">
    <form name="toyForm" class="form-horizontal" ng-submit="update(toyForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="title">Title</label>
          <input name="title" type="text" ng-model="toy.title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="toyForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Toy title is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea name="content" ng-model="toy.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
        </div>

      </fieldset>
      <h2>Pictures</h2>
      <fieldset>
          <div class="form-group well" ng-repeat="image in toy.images">
            <div class="col-md-4">
              <a class="btn btn-primary" ng-click="removeImage(image);">
                <i class="glyphicon glyphicon-trash"></i>
              </a>
              <img ng-src="{{image.url}}" alt="{{image.alt}}" title="{{image.title}}" class="img-thumbnail user-profile-picture">
            </div>
            <div class="col-md-8">
              <div>
                <label for="image-title-{{$index}}">Title</label>
                <input name="image-title-{{$index}}" type="text" ng-model="toy.images[$index].title" id="title" class="form-control" placeholder="Image {{$index}} title">
              </div>
              <div>
                <label for="image-alt-{{$index}}">Alt</label>
                <input name="image-alt-{{$index}}" type="text" ng-model="toy.images[$index].alt" id="title" class="form-control" placeholder="Image {{$index}} alt description">
              </div>
            </div>
          </div>
          <div class="well">
            <div class="text-center form-group" ng-hide="uploader.queue.length">
              <span class="btn btn-default btn-file">
                  Select Image <input type="file" nv-file-select uploader="uploader">
              </span>
            </div>
            <div class="text-center form-group" ng-show="uploader.queue.length">
              <button class="btn btn-primary" ng-click="uploadImage();">Upload</button>
              <button class="btn btn-default" ng-click="cancelUpload();">Cancel</button>
            </div>
          </div>
          <div ng-show="success" class="text-center text-success">
            <strong>Image Added Successfully</strong>
          </div>
          <div ng-show="error" class="text-center text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </fieldset>
      <div class="form-group">
        <input type="submit" value="Update toy" class="btn btn-default">
      </div>
    </form>
  </div>
</section>
